
## System setting
INSTALL=@INSTALL@
UPDATE=@UPDATE@
UPGRADE=@UPGRADE@
SERVICE_TOOL=@SERVICE_TOOL@

## WiFI dongle setting
SSID="RPi2"
MACPREFIX=""
IP=172.16.0.1
CHANNEL=4
DRIVER=nl80211

## Log setting
KEYWORD=user,passwd


## Wilreless configure
TGT_SSID=
TGT_PROTO=
TGT_PSK=

## Sinffer options
stopSniff=
stopARP=1
stopDNS=
stopTelnet=
stopHTTP=
stopDebug=

# vim: set ft=sh:
